<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <!--
    <add name="Olive"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Olive;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    -->
             <add name="Olive"
                      connectionString="Data Source=osql1.olive.local;Initial Catalog=Olive;Integrated Security=True"
                      providerName="System.Data.SqlClient" />
           </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />

    <!-- User-defined type aliases -->
    <alias alias="IOliveContext" type="Olive.DataAccess.IOliveContext, Olive.DataAccess" />
    <alias alias="OliveContext" type="Olive.DataAccess.OliveContext, Olive.DataAccess" />
    <alias alias="ICrypto" type="Olive.ICrypto, Olive.Core" />
    <alias alias="Crypto" type="Olive.Crypto, Olive.Core" />
    <alias alias="IFaultFactory" type="Olive.Services.IFaultFactory, Olive.Services" />
    <alias alias="FaultFactory" type="Olive.Services.FaultFactory, Olive.Services" />

    <container>
      <register type="IOliveContext" mapTo="OliveContext" />
      <register type="ICrypto" mapTo="Crypto">
        <lifetime type="singleton" />
      </register>
      <register type="IFaultFactory" mapTo="FaultFactory">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service
        name="Olive.Services.ClientService"
        behaviorConfiguration="Olive.Services.ClientServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Olive.Services.IClientService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Olive.Services.ClientServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="ClientService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\temp\OliveServiceDevLog.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>