@model Olive.Website.ViewModels.Account.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if (Model.BitcoinReceiveAddress != null)
{
    <div>
        Bitcoin receive address: @Model.BitcoinReceiveAddress
    </div>
}