@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is the front page for Exu.me, which is a virtual bank. Very short about the bank:</p>

<ul>
    <li>Fees collected by the bank is used to pay savings account owners</li>
    <li>Fees are distributed to the user who referred the user paying the fee, like a referral pyramid scheme.</li>
    <li>The bank software is open source</li>
    <li>The bank discloses all information to its users</li>
    <li>This website uses an API, which you can use too. It's at http://services.beta.exu.me and is SOAP. JSON implementation is coming soon.</li>
</ul>

<p>There will be no design until the basic functionality is completed.</p>

<a href="/User/Login" style="font-size:4.em;">Create an account!</a>
