<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <alias alias="singleton"
         type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />

    <!-- User-defined type aliases -->
    <!--<typeAlias alias="IClientService" type="Olive.Services.IClientService" />-->
    <alias alias="ISiteSession" type="Olive.Website.Helpers.ISiteSession, Olive.Website" />
    <alias alias="ICrypto" type="Olive.ICrypto, Olive.Core" />
    <alias alias="Crypto" type="Olive.Crypto, Olive.Core" />
    <alias alias="ICurrencyCache" type="Olive.Website.Helpers.ICurrencyCache, Olive.Website" />
    <alias alias="SiteSession" type="Olive.Website.Helpers.SiteSession, Olive.Website" />
    <alias alias="CurrencyCache" type="Olive.Website.Helpers.CurrencyCache, Olive.Website" />

    <container>
      <register type="ISiteSession" mapTo="SiteSession">
        <lifetime type="singleton" />
      </register>
      <register type="ICrypto" mapTo="Crypto">
        <lifetime type="singleton" />
      </register>
      <register type="ICurrencyCache" mapTo="CurrencyCache">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error/Error" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client>
      <!--
      <endpoint address="http://oapp1.olive.local/"
       binding="basicHttpBinding" contract="Olive.Services.IClientService" name="" />
      -->
       <endpoint address="http://localhost:9001/ClientService.svc"
       binding="basicHttpBinding" contract="Olive.Services.IClientService" name="" />
    </client>
  </system.serviceModel>
</configuration>
